@media screen and (min-width: 768px) {
  .title {
    max-width: 560px;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    &__card {
      width: 93%;
      margin: auto;
    }
    &__middle-box {
      .main__card {
        margin-bottom: 20px;
      }
    }
  }
}
